<div id="<%= dom_id job_histories_technologies %>">
  <p>
    <strong>Job histories:</strong>
    <%= job_histories_technologies.job_history_id %>
  </p>

  <p>
    <strong>Technologies:</strong>
    <%= job_histories_technologies.technology_id %>
  </p>

</div>
