<h1>Editing job histories technologies</h1>

<%= render "form", job_histories_technologies: @job_histories_technologies %>

<br>

<div>
  <%= link_to "Show this job histories technologies", @job_histories_technologies %> |
  <%= link_to "Back to job histories technologies", job_histories_technologies_index_path %>
</div>
