<h1>New job histories technologies</h1>

<%= render "form", job_histories_technologies: @job_histories_technologies, technologies: @technologies, job_histories: @job_histories %>

<br>

<div>
  <%= link_to "Back to job histories technologies", job_histories_technologies_index_path %>
</div>
