<div id="<%= dom_id achievement %>">
  <p>
    <strong>Summary:</strong>
    <%= achievement.summary %>
  </p>

  <p>
    <strong>Job history:</strong>
    <%= achievement.job_history_id %>
  </p>

  <p>
    <strong>Deep dive:</strong>
    <%= achievement.deep_dive %>
  </p>

</div>
