<div id="<%= dom_id job_history %>">
  <p>
    <strong>Company name:</strong>
    <%= job_history.company_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= job_history.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= job_history.end_date %>
  </p>

</div>
