<h1>Editing job history</h1>

<%= render "form", job_history: @job_history %>

<br>

<div>
  <%= link_to "Show this job history", @job_history %> |
  <%= link_to "Back to job histories", job_histories_path %>
</div>
