<p style="color: green"><%= notice %></p>

<h1>Job histories</h1>

<div id="job_histories">
  <% @job_histories.each do |job_history| %>
    <%= render job_history %>
    <p>
      <%= link_to "Show this job history", job_history %>
    </p>
  <% end %>
</div>

<%= link_to "New job history", new_job_history_path %>
