<h1>Editing tech category</h1>

<%= render "form", tech_category: @tech_category %>

<br>

<div>
  <%= link_to "Show this tech category", @tech_category %> |
  <%= link_to "Back to tech categories", tech_categories_path %>
</div>
