<section data-controller="job-history" class="mt-6">
  <div class="is-flex is-justify-content-space-between">
    <div>
      <h3 class="is-size-3 has-text-left has-text-primary	has-text-left	">Staff Soft Engineer</h3>
      <h4 class="is-size-4 has-text-grey-lighter">At Dish Network</h4>
      <p>April 2022 to Now</p>
    </div>

    <button data-action="click->job-history#toggleDescription" class="button is-info is-align-self-center">
      Read what I did
    </button>
  </div>

  <div data-job-history-target="description" class="is-hidden">
    add job description here
  </div>

</section>

